body{
    margin: 0px;
}
main{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
div{
    max-width: 100vw;
    height: 15vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}